.label {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 24px;
    -unity-text-align: middle-center;
}

.section_text {
    position: absolute;
    top: 737px;
    left: -500px;
}
